header{
    //background-image: url(/assets/images/back6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 106vw;
    height: 7vh;
    margin-top: -3vh;
    margin-left: -3vw;
    position: relative;
    //border-bottom: 1px solid rgb(255, 255, 255);
    h1{
        padding-top: 2.5vh;
        text-decoration: underline;
       text-align: center;
        color: rgb(0, 0, 0);
        text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px  1px 0 #ffffff, 1px  1px 0 #ffffff;
    }
}


@media screen and (max-width: 1023px) {

    header{
        //background-image: url(/assets/images/back3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 106vw;
        height: 7vh;
        margin-top: -3vh;
        margin-left: -3vw;
        position: relative;
        h1{
            padding-top: 2.5vh;
            text-decoration: underline;
            font-size: 140%;
           text-align: center;
           color: rgb(0, 0, 0);
           text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px  1px 0 #ffffff, 1px  1px 0 #ffffff;
        }
    }

}