footer {
    width: 106vw;
    height: 8vh;
    margin-left: -3vw;
    margin-bottom: -2.5vh;
    background-image: url(/assets/images/backheaderfooter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

    position: fixed;
    left: 0;
    border-top: 1px solid black;
    p{
        text-align: center;
        position: relative;
    }
    a{
        
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }
    a:hover{
        color: rgb(0, 25, 253);

    }
}


@media screen and (max-width: 1023px) {

    footer {
        width: 106vw;
        height: 8vh;
        margin-left: -3vw;
        margin-bottom: -1vh;
        background-image: url(/assets/images/backheaderfooter.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        position: fixed;
        left: 0;
        border-top: 1px solid black;
        
        p{
            text-align: center;
            position: relative;
            
        }
        a{
            
            color: rgb(255, 255, 255);
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
            font-size: 70%;
        }
        a:hover{
            color: rgb(0, 25, 253);
            
        }
    }


}