footer {
    width: 106vw;
    height: 8vh;
    margin-left: -3vw;
    margin-bottom: -2.5vh;
    background-image: url(/assets/images/backheaderfooter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

    position: fixed;
    left: 0;
    border-top: 1px solid black;
    p{
        text-align: center;
        position: relative;
    }
    a{
        
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }
}