

<form>
<input type="text"  name="searchText"  placeholder="Sök här" [(ngModel)]="searchText" (input)="sortSearch()">
<select name="sort" id="sortId" [(ngModel)]="sort" (change)="sortDrop()">  
    <option value="choose">Välj</option>
    <option value="code"> Kurskod</option>
    <option value="coursename"> Kursnamn</option>
    <option value="progression"> Progression</option>
</select>
<!--<p *ngIf="!ramschemaList.length" id="unvalid">Ogiltig text</p>-->
</form>

<div id="allSchema" >
<table id="table1">
    <tr>
        <td id="headCode">Kurskod</td>
        <td id="headName">Kursnamn</td>
        <td id="headProgression">Progression</td>
        <td id="headSyllabus">Kursplan</td>
    </tr>
</table>

    <table id="table2">
<tr *ngFor="let schema of sortedList">
    
    <td  id="code">
        {{schema.code}}
    </td>
    <td id="name" >
        {{schema.coursename}}
    </td>
    <td id="progression" >
        {{schema.progression}}
    </td>
    
    <td id="syllabus">
        <a href="{{schema.syllabus}}">Länk</a>
    </td>
</tr>
</table>
</div>


